<div class="controls">
    <div class="split-time top">
        <h6>Split</h6>
        <div data-bind="split-time"></div>
    </div><div class="total-time top">
        <h6>Total</h6>
        <div data-bind="total-time"></div>
    </div><div class="tempo top">
        <h6>Tempo</h6>
        <div data-bind="tempo"></div>
    </div><div class="beats top"><h6>Beat</h6><div data-bind="beats"></div><div class="visual"><div id="progress" class="progress"></div></div></div><div id="start-stop" data-bind="start-stop" class="start-stop top"></div>
    <div class="tempo-grid">
        <div class="tempo-label">Slide to adjust tempo</div>
        <div id="grid" class="grid"></div>
    </div>
</div>